<h1>Rails Sunspot test page</h1>

<h4>Database contains <%= @total_records%> total records.</h4>

<% if Rails.env.development? %>
  <p>params: <%= params %> </p>
<% end %>

<div class="input-group">
    <%= form_tag(static_pages_home_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search term..." %>
      <span class="input-group-btn">
        <button class="btn btn-custom" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    <% end %>
</div>

<h1>Search results for "<%= params[:search] %>" (page <%= @current_page %> of <%= @search.results.total_pages %>)</h1>

<h4>(<%= @search.total %> <%= @search.total == 1 ? "result" : "total results" %> found)</h4>

<p> <%= link_to "Previous page", static_pages_home_path(search: params[:search], page: @search.results.previous_page) %> 
    <%= link_to "Next page", static_pages_home_path(search: params[:search], page: @search.results.next_page) %> </p>

<% @search.results.each do |result| %>
  <p><%= result.body %></p>
<% end %>





