<h1>Rails Sunspot test page</h1>

<h4>Database contains <%= @total_records%> total records.</h4>

<div class="input-group">
    <%= form_tag(static_pages_home_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search term..." %>
      <span class="input-group-btn">
        <button class="btn btn-custom" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    <% end %>
</div>

<h1>Search results for "<%= params[:search] %>" (page <%= @current_page %>)</h1>

<h4>(<%= @search.total %> <%= @search.total == 1 ? "result" : "results" %> found)</h4>

<% @search.hits.each do |hit| %>
  <p> <%= hit.primary_key %> : 

  <% hit.highlights(:body).each do |highlight| %>
    <%= highlight.format { |word| "*#{word}*" } %>
  <% end %>
  </p>
<% end %>

<p> <%= link_to "Previous page", static_pages_home_path(search: params[:search], page: @previous_page) %> </p>
<p> <%= link_to "Next page", static_pages_home_path(search: params[:search], page: @next_page) %> </p>




