<h1>Rails Sunspot test page</h1>

<h4>Database contains <%= @total_records%> total records.</h4>

<% if Rails.env.development? %>
  <p>params: <%= params %> </p>
<% end %>

<div class="input-group">
    <%= form_tag(root_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search term..." %>
      <span class="input-group-btn">
        <button class="btn btn-custom" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    <% end %>
</div>

<%= render partial: 'static_pages/search_results_header_1' %>

<%= render partial: 'static_pages/results_2' %>

